html, body, #root, div {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
    background: rgb(242, 242, 242);
}

.vr-list {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.vr-list li {
	display: inline-block;
	vertical-align: top;
}

.vr-link {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	color: rgb(90, 90, 90);
}