.vr-switch {
	display: inline-block;
	width: 45px;
	height: 22px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0px 0px 2px black;
	transition: all 0.2s ease-in-out;
}

.vr-switch:hover {
	box-shadow: 0px 0px 4px black;
}

.vr-switch:active {
	box-shadow: 0px 0px 20px black;
}

.vr-switch .circle {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	transition: all 0.1s ease-in-out;
	box-shadow: 0px 0px 2px black;
}

.vr-switch-disabled {
	background: rgb(70, 70, 70);
}

.vr-switch-disabled .circle {
	background: rgb(110, 110, 110);
	margin-left: 0;
}

.vr-switch-enabled {
	background: rgb(230, 230, 230);
}

.vr-switch-enabled .circle {
	background: rgb(170, 170, 170);
	margin-left: 23px;
}
